<footer class="footer" itemscope itemtype="http://schema.org/WPFooter">
    <%- partial('_common/social', null, {cache: !config.relative_link}) %>
    <div class="copyright">
        <% if(theme.site.copyright) { %>
        &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
        <% } %>
        <script
            type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1277719904'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1277719904%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
        <div class="publishby">
            <%= __('copyright.theme_by') %> <a href="https://github.com/cofess" target="_blank"> cofess
            </a><%= __('copyright.base_on') %> <a href="https://github.com/cofess/hexo-theme-pure"
                target="_blank">pure</a>.
        </div>
        
        <div style="width:300px;margin:0 auto; padding:20px 0;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32059002002321"
                style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                    src="/images/beian.png" style="float:left;" />
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备
                    32059002002321号</p>
            </a>
        </div>
    </div>
</footer>